.multistep-form form {
  width: 100%;
}

span.fieldset-legend {
  font-size: 30px;
  margin: 0 15px;
}

.multistep-form .button {
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border-radius:2em;
  box-sizing: border-box;
  text-decoration:none;
  font-weight:300;
  color:#FFFFFF !important;
  background-color:#4eb5f1 !important;
  background-image: none !important;
  text-align:center;
  transition: all 0.2s;
}

.multistep-form .button:hover {
  background-color:#4095c6 !important;
}

@media all and (max-width:30em){
  .button {
    display:block;
    margin:0.2em auto;
  }
}
